* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}


.chore{
	margin: 0 auto;
	border: 1px solid darkblue;
	display: flex;
	justify-content: space-around;
}

.buttons, .statistics{
	display: inline-block;
}

button{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 10px;
	color: white;
	background: rgba(0,0,0,0.7)
}
.statistics{
	border: 1px solid darkblue;
	align-self: center;
	background-color: rgba(165, 67, 67, 0.5)
}

ul{
	list-style: none;
}